<h3 class="modal-title">I have a nice title</h3>
<div class="modal-body">
  <img src="assets/images/cat001.jpg">
  <ng-template>
    <p>
        Kung anong caption
    </p>
  </ng-template>
  <form #f="ngForm">
    <div class="form-group">
      <label for="Caption">Caption</label>
      <input type="text" class="form-control" id="title" name="title" required [(ngModel)]="model.caption">
    </div>
  </form>
  <pre>
    {{ model | json }}
  </pre>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline" (click)="activeModal.close('Cancel click')">Cancel</button>
  <button type="button" class="btn btn-primary" (click)="updateCaption(model.id)">Save</button>
</div>